@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@font-face {
    font-family: Quark;
    src: url("./Quark-Light.otf") format("opentype");
}

@font-face {
    font-family: Quark;
    font-weight: bold;
    src: url("./Quark-Bold.otf") format("opentype");
}